.section_header {
  position: relative;
  display: inline-block;
  border-bottom: 5px solid #2dd4bf;
  border-radius: 15px;
  padding-bottom: 5px;
}

/* see all button css  */
.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009ffd;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06d6a0;
}
.text {
  position: absolute;
  top: 19%;
  left: 30%;
  color: #009ffd;
  background: transparent;
}
#see_all_btn {
  left: 28%;
}

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009ffd;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06d6a0;
}

@media screen and (max-width: 630px) {
  .services_card_wraper {
    flex-direction: column;
  }

  .services_card_img_wrap {
    width: 100%;
    height: 250px;
  }

  .services_card_.text-Wrap {
    width: 100%;
  }
}
