#review_add_btn {
  left: 23%;
}
@media screen and (max-width: 781px) {
  .review_cad-wraper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .review_para {
    margin-left: 0;
    text-align: center;
  }
}
